*.py[cod]
__pycache__/

.DS_Store
.venv/
.ruff_cache/
.ty/
.jupyter-book-marimo/

node_modules/
coverage/

_build/
_site/
docs/tutorials/__marimo__/
dist/

src/jupyter_book_marimo/assets/*
!src/jupyter_book_marimo/assets/__init__.py

*.log
